{% load bootstrap4 %}
{% load static%}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8"> 
  <link rel="icon" type="favicon.png" href="" />
  {% if title %}
  <title>Awwards - {{title}}</title>
  {% else %}
    <title>Awwards</title>
  {% endif %}

  {% block styles %}
    {% bootstrap_css %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
  {% endblock %}
  <link rel="stylesheet" href="{% static 'star-ratings/css/star-ratings.css' %}">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Vollkorn&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css?q=1280549780">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Fraunces:ital,wght@0,600;1,600&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Carter+One&display=swap" rel="stylesheet">
  <style>
    body{
      background-color:rgb(16, 16, 16);
      
      font-family: 'Poppins', serif;
}
a{
  text-decoration:none;
  color:black;
}
a:hover{
  color:grey;
  text-decoration: none;
}
.row{
  grid-row-gap:15px;
}
  </style>
</head>
<body>
    {% include "navbar.html" %}
    {% block content %}{%endblock%}

    {% block scripts %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
     {% bootstrap_javascript %}
    {% endblock %}
    <script type="text/javascript" src="{% static 'star-ratings/js/dist/star-ratings.min.js' %}"></script>
</body>
</html>