<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        #navbar{
            font-family: 'Vollkorn', serif;}
        @media screen and (max-width:992px){
        #search_form, #profile, .upload{
     display: none;
        }
    }
    </style>
</head>

<body>
    <div id="navbar" class="container-fluid" style="border-bottom: 1px solid rgb(168, 165, 165);">
        <div class="row">
            
            <div class="col-md-2" style="padding-top:10px;">
                <form class="form-inline my-2 my-lg-0" role="search" id='search_form' action="{% url 'search_results' %}" style="margin-left:10px;">
                    <input type="text" class="form-control my-2 my-sm-0 search-input" name="project" placeholder="Search by title.." id="search">
                </form>
            </div>
            <div class="col-md-8" style=" padding-top:5px;text-align:center;padding: 0 10px;">
                <div class="row">
                    <div class="col-md-10">
                        <a class="navbar-brand navbar-right text-success" href="{% url 'index' %}" style="margin-left:120px;font-size:30px; font-family: 'Carter One', cursive; ">My Awards</a>
                    </div>
                    <div class="col-md-2" style="padding-top:10px;">
                        <div class="row" id='profile'>
                            {% if user.is_authenticated %}
                            <div class="col-md-8">
                               
                            {% else %}

                            <a class='btn btn-default' href="/accounts/login/?next=/">Login</a>

                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-2 upload bg-warning" style="padding-top:15px; text-align:center">
                <a href="{%url 'new_project'%}" style="color:white; font-weight: bo; font-size:17px; text-decoration: none; ">Submit Project</a>
            </div>
        </div>
    </div>
    <script>
        function openNav() {
            document.getElementById("mySidenav").style.width = "250px";
            document.getElementById("main").style.marginLeft = "250px";
        }

        function closeNav() {
            document.getElementById("mySidenav").style.width = "0";
            document.getElementById("main").style.marginLeft= "0";
        }
    </script>
</body>

</html>