{% extends 'base.html' %}
{% load bootstrap4 %}
{% block content %}

<style>
    .card-1{
        text-align:left;
    }
</style>
<div class="container" style='margin-top:90px;' >
    
    <div class="row">
        <div class="col-lg-6" >
            <div style="text-align:center">
                <img src="{{profile.profile_picture.url}}"  width="200px"  height="200px " style="border-radius: 50%;">
            </div>
        </div><br>
        <div class="col-md-6 col-lg-6">
            <div class="card-1" >
                <div class="text-warning card-text" style="padding: 20px;">
                    <h5><strong>Username:</strong> {{profile.user}}</h5>
                    <h5><strong>Email:</strong> {{profile.email}}</h5>
                    <h5><strong>Bio:</strong>{{profile.bio}}</h5>
                    <h5><strong>Contact:</strong> {{profile.contact}}</h5>
                </div>

            </div>

        </div>
    </div><hr>
    <small><strong class="text-warning">There Is  {{projects|length}} Submited projects</strong></small><br><br>
    <div class='row'>
        {% for project in projects %}
        <div class="col-lg-4 col-lg-4 col-lg-4">
            <div class="card ">
                <img src="{{project.image.url}}"  height='180px' alt="{{project.name}}" width='100%' >
                <div class="card-text text-center" style="padding: 20px;">
                    <h5 style="font-weight: bold;">{{project.title}}</h5>
                    <small class="text-muted" style="font-family: Arial, Helvetica, sans-serif;">{{project.description | slice:":50" }}...</small><br><br>
                    <a class="btn btn-info" style="border-radius: 25px;" href="/project/{{project.id}}" >Project details & Rating</a><br><br>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

</div>
<br><br>

{%endblock%}